    <div id="header">
      <%= render 'layouts/header' %>
    </div> 

<h1>Edit Post</h1>

<%= simple_form_for @edit do |f| %>
  <%= f.input :title %>
  <%= f.input :author %>
  <%= f.input :content %>
  <%= f.submit %>
<% end %>
